* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none !important; }

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none; }

/*
DEFINE COLOR*/
/*DEFINE MIXIN*/
h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600; }

.page {
  /*HEADER*/
  /*LOGO*/
  /*NAVIGATION*/
  /*BANNER*/
  /*SECTION REBUILD*/
  /*PRODUCT*/
  /*NEWS*/
  /*TESTIMONIAL*/
  /*END HOME SECTION*/
  /*SINGLE PAGE*/
  /*CONTACT PAGE*/
  /*NEWS PAGE*/
  /*NEWS DETAIL*/
  /*CATEGORY PAGE*/
  /*PRODUCT*/
  /*CART*/
  /*PAYMENT*/
  /*FOOTER*/ }
  .page header {
    background: #CB1F6A;
    padding: 1.5rem 0; }
    @media screen and (max-width: 767px) {
      .page header .icon-collect {
        margin-bottom: 20px; } }
    @media screen and (max-width: 767px) {
      .page header .icon-collect .d-flex {
        justify-content: space-around; } }
    @media screen and (max-width: 767px) {
      .page header .company-info .d-flex {
        justify-content: space-around !important; } }
    .page header .company-info .each-info {
      border-right: 1px solid white;
      color: white;
      font-size: 1.2rem;
      margin-right: 1rem;
      padding-right: 1rem; }
      @media screen and (max-width: 767px) {
        .page header .company-info .each-info {
          font-size: 1.2rem; } }
      @media screen and (max-width: 575px) {
        .page header .company-info .each-info {
          margin-right: 0.7rem;
          padding-right: 0.7rem;
          font-size: 1rem; } }
      .page header .company-info .each-info a {
        color: white;
        text-decoration: none; }
        .page header .company-info .each-info a:hover {
          color: #e6e6e6; }
      .page header .company-info .each-info span.number-itrem {
        font-weight: 600;
        font-size: 1.2rem; }
      .page header .company-info .each-info span.user-text {
        text-transform: uppercase; }
      .page header .company-info .each-info:last-child {
        border-right: none; }
  .page .logo-container {
    padding: 3.8rem 0;
    background: #e08da1;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e08da1 0%, #ffffff 49%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e08da1 0%, #ffffff 49%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e08da1 0%, #ffffff 49%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .page .navigation-container .navbar-brand {
    visibility: hidden;
    display: none;
    font-size: 1.7rem; }
    @media screen and (max-width: 767px) {
      .page .navigation-container .navbar-brand {
        visibility: visible;
        display: inline-block; } }
  .page .navigation-container #mainNavbar ul > li {
    text-align: left; }
    @media screen and (max-width: 767px) {
      .page .navigation-container #mainNavbar ul > li {
        width: 100%; } }
    .page .navigation-container #mainNavbar ul > li > a {
      display: block;
      font-size: 2rem;
      text-transform: uppercase;
      color: #000;
      font-weight: 600; }
      @media screen and (max-width: 767px) {
        .page .navigation-container #mainNavbar ul > li > a {
          font-size: 1.5rem; } }
      @media screen and (max-width: 575px) {
        .page .navigation-container #mainNavbar ul > li > a {
          font-size: 1.4rem; } }
    .page .navigation-container #mainNavbar ul > li .dropdown-menu {
      background: #e868a0;
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 5px 10px;
      min-width: 100%; }
      @media screen and (max-width: 767px) {
        .page .navigation-container #mainNavbar ul > li .dropdown-menu {
          background: #e6e6e6; } }
      .page .navigation-container #mainNavbar ul > li .dropdown-menu a {
        font-size: 1.4rem;
        color: white;
        border-bottom: 1px solid white;
        padding: 0.5rem 1rem;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .page .navigation-container #mainNavbar ul > li .dropdown-menu a:last-child {
          border-bottom: none; }
        .page .navigation-container #mainNavbar ul > li .dropdown-menu a:hover {
          background: none;
          color: #cccccc; }
        @media screen and (max-width: 767px) {
          .page .navigation-container #mainNavbar ul > li .dropdown-menu a {
            color: #414042;
            font-size: 1.4rem; } }
  .page .navigation-container #mainNavbar .search-container {
    position: relative; }
    @media screen and (max-width: 767px) {
      .page .navigation-container #mainNavbar .search-container {
        width: 100%; } }
    .page .navigation-container #mainNavbar .search-container button.btn-search-trigger {
      font-size: 2rem;
      background: transparent;
      color: #CB1F6A;
      outline: none;
      padding: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .page .navigation-container #mainNavbar .search-container button.btn-search-trigger:focus {
        outline: none; }
      @media screen and (max-width: 767px) {
        .page .navigation-container #mainNavbar .search-container button.btn-search-trigger {
          display: none; } }
    .page .navigation-container #mainNavbar .search-container #search-wrapper {
      position: absolute;
      right: 0;
      z-index: 10;
      top: 130%;
      min-width: 25rem; }
      @media screen and (max-width: 767px) {
        .page .navigation-container #mainNavbar .search-container #search-wrapper {
          position: static;
          display: block; } }
      .page .navigation-container #mainNavbar .search-container #search-wrapper input {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none;
        font-size: 1.4rem; }
        @media screen and (max-width: 767px) {
          .page .navigation-container #mainNavbar .search-container #search-wrapper input {
            font-size: 1.2rem; } }
      .page .navigation-container #mainNavbar .search-container #search-wrapper button.btn-search {
        background: #CB1F6A;
        color: white;
        font-size: 1.4rem; }
        @media screen and (max-width: 767px) {
          .page .navigation-container #mainNavbar .search-container #search-wrapper button.btn-search {
            font-size: 1.2rem; } }
  .page .banner-container .banner-inner {
    border-top: 1px solid #414042;
    border-bottom: 1px solid #414042;
    margin-bottom: 4rem; }
    .page .banner-container .banner-inner #mainSlider .carousel-indicators li {
      width: 15px;
      height: 15px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #CB1F6A; }
      .page .banner-container .banner-inner #mainSlider .carousel-indicators li.active {
        background: #414042; }
  .page section.page-section {
    padding: 5rem 0; }
    .page section.page-section h2.title-section {
      padding: 0.3rem 2rem;
      background: #CB1F6A;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2.2rem;
      border-radius: 8px;
      max-width: 300px;
      text-align: center;
      margin-bottom: 3rem; }
    .page section.page-section h3.title-section-h3 {
      color: #CB1F6A;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: 3rem;
      font-style: italic; }
  .page .product-container .product-body .each-product figure {
    text-align: center; }
    .page .product-container .product-body .each-product figure figcaption p.product-name {
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      line-height: 1.8rem; }
      .page .product-container .product-body .each-product figure figcaption p.product-name a {
        color: #000;
        text-decoration: none; }
    .page .product-container .product-body .each-product figure figcaption p.price {
      font-size: 1.8rem;
      line-height: 2rem;
      color: #CB1F6A;
      margin-bottom: 10px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      text-transform: lowercase; }
      .page .product-container .product-body .each-product figure figcaption p.price.discount {
        text-decoration: line-through;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: #414042; }
    .page .product-container .product-body .each-product figure figcaption button.btn-add-to-cart {
      background: transparent;
      border-width: 2px;
      border-color: #414042;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #414042;
      padding: 0.3rem 1.2rem;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .page .product-container .product-body .each-product figure figcaption button.btn-add-to-cart:hover {
        background: #e13c84;
        border-color: #CB1F6A;
        color: white; }
  .page .product-container .product-body .swiper-button {
    width: 14px;
    height: 23px; }
    .page .product-container .product-body .swiper-button.swiper-button-prev {
      background: url("../images/arrow-prev.png"); }
    .page .product-container .product-body .swiper-button.swiper-button-next {
      background: url("../images/arrow-next.png"); }
  .page .news-container .news-body .media {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid rgba(203, 31, 106, 0.4); }
    @media screen and (max-width: 767px) {
      .page .news-container .news-body .media {
        flex-direction: column; } }
    .page .news-container .news-body .media > a {
      display: block;
      margin: auto; }
    @media screen and (max-width: 767px) {
      .page .news-container .news-body .media img {
        margin-right: auto !important;
        margin-bottom: 15px; } }
    .page .news-container .news-body .media .media-body {
      font-size: 1.4rem;
      line-height: 2rem; }
      .page .news-container .news-body .media .media-body h3.news-name {
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem; }
        .page .news-container .news-body .media .media-body h3.news-name a {
          color: #000; }
  .page .news-container .news-body .swiper-button {
    background-image: none;
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    cursor: pointer;
    width: auto;
    height: auto; }
    .page .news-container .news-body .swiper-button.swiper-button-prev {
      right: 40px; }
    .page .news-container .news-body .swiper-button.swiper-button-next {
      right: 0px; }
    .page .news-container .news-body .swiper-button span {
      padding: 0.3rem 1.2rem;
      display: inline-block;
      background: #CB1F6A;
      color: white;
      font-size: 1rem;
      border-radius: 5px;
      border: none; }
  .page .testimonial-container {
    background: #000 url("../images/background-testiimonial.png") no-repeat;
    background-position: 100% 0;
    padding: 2rem 0;
    border-bottom: 8px solid #747276; }
    .page .testimonial-container .testimonial-inner .carousel-indicators {
      margin: 0;
      bottom: -10px; }
      .page .testimonial-container .testimonial-inner .carousel-indicators li {
        width: 8px;
        height: 8px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: white; }
        .page .testimonial-container .testimonial-inner .carousel-indicators li.active {
          background: #ef94bc; }
    .page .testimonial-container .testimonial-inner figure {
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
      color: white; }
      .page .testimonial-container .testimonial-inner figure img {
        margin-bottom: 10px; }
      .page .testimonial-container .testimonial-inner figure figcaption h4.title-caption {
        font-size: 1.8rem;
        line-height: 2rem;
        text-transform: uppercase;
        margin-bottom: 0.6rem; }
      .page .testimonial-container .testimonial-inner figure figcaption p.content-caption {
        font-size: 1.2rem;
        line-height: 2rem;
        font-style: italic; }
  .page .single-page .single-page-inner h2.title-single-page {
    font-size: 1.8rem;
    margin-bottom: 1.5rem; }
  .page .single-page .single-page-inner .content-single-page, .page .single-page .single-page-inner .content-single-page p {
    font-size: 1.4rem;
    line-height: 2.2rem; }
  .page .contact-page .form-wrapper label {
    font-size: 1.4rem; }
  .page .contact-page .form-wrapper input[type="submit"] {
    font-size: 1.4rem;
    padding: 0.5rem 3rem; }
  .page .news-page .each-news .media {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid rgba(203, 31, 106, 0.4); }
    @media screen and (max-width: 767px) {
      .page .news-page .each-news .media {
        flex-direction: column; } }
    .page .news-page .each-news .media > a {
      display: block;
      margin: auto; }
    @media screen and (max-width: 767px) {
      .page .news-page .each-news .media img {
        margin-right: auto !important;
        margin-bottom: 15px; } }
    .page .news-page .each-news .media .media-body {
      font-size: 1.4rem;
      line-height: 2rem; }
      .page .news-page .each-news .media .media-body h3.news-name {
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem; }
        .page .news-page .each-news .media .media-body h3.news-name a {
          color: #000; }
      .page .news-page .each-news .media .media-body a.readmore {
        padding: 1rem 0; }
        @media screen and (max-width: 767px) {
          .page .news-page .each-news .media .media-body a.readmore {
            float: none !important;
            display: block; } }
  @media screen and (max-width: 767px) {
    .page .news-detail-page .news-detail-inner {
      margin-bottom: 2rem; } }
  .page .news-detail-page .news-detail-inner h2.news-name {
    font-size: 1.7rem;
    margin-bottom: 0.8rem;
    font-weight: 600; }
  .page .news-detail-page .news-detail-inner p.create-date {
    font-size: 1.4rem;
    color: #414042;
    font-style: italic;
    margin-bottom: 1.5rem; }
  .page .news-detail-page .news-detail-inner .body-news {
    font-size: 1.3rem;
    line-height: 2rem; }
  .page .news-detail-page .relate-news h3.title-relate {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem; }
  .page .news-detail-page .relate-news .box {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #747276; }
    .page .news-detail-page .relate-news .box figure img {
      margin: 0 auto; }
    .page .news-detail-page .relate-news .box figure h4.news-name-relate {
      font-size: 1.5rem;
      text-transform: capitalize;
      margin-bottom: 0.6rem;
      font-weight: 600; }
    .page .news-detail-page .relate-news .box figure p.content {
      font-size: 1.3rem; }
    .page .news-detail-page .relate-news .box figure .wrap-readmore {
      text-align: right; }
      .page .news-detail-page .relate-news .box figure .wrap-readmore a.readmore {
        font-size: 1.3rem;
        font-style: italic; }
  .page .category-page .category-inner .each-cate {
    margin-bottom: 1.5rem; }
    .page .category-page .category-inner .each-cate figure.figure {
      text-align: center; }
      @media screen and (max-width: 767px) {
        .page .category-page .category-inner .each-cate figure.figure {
          display: block; } }
      .page .category-page .category-inner .each-cate figure.figure figcaption h2.product-name {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.8rem; }
        .page .category-page .category-inner .each-cate figure.figure figcaption h2.product-name a {
          color: #000;
          text-decoration: none; }
      .page .category-page .category-inner .each-cate figure.figure figcaption p.price {
        font-size: 1.8rem;
        line-height: 2rem;
        color: #CB1F6A;
        margin-bottom: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        text-transform: lowercase; }
        .page .category-page .category-inner .each-cate figure.figure figcaption p.price.discount {
          text-decoration: line-through;
          font-size: 1.4rem;
          line-height: 1.6rem;
          color: #414042; }
      .page .category-page .category-inner .each-cate figure.figure figcaption button.btn-add-to-cart {
        background: transparent;
        border-width: 2px;
        border-color: #414042;
        font-size: 1.4rem;
        line-height: 2rem;
        color: #414042;
        padding: 0.3rem 1.2rem;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .page .category-page .category-inner .each-cate figure.figure figcaption button.btn-add-to-cart:hover {
          background: #e13c84;
          border-color: #CB1F6A;
          color: white; }
  .page .category-page .each-sidebar {
    margin-bottom: 6rem; }
    .page .category-page .each-sidebar h3.title-sidebar {
      font-size: 1.8rem;
      text-transform: uppercase;
      color: #CB1F6A;
      margin-bottom: 1.5rem;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 600; }
    .page .category-page .each-sidebar .box {
      padding: 1.2rem;
      border-radius: 5px;
      background: #f4f3f4; }
    .page .category-page .each-sidebar ul.list-cate {
      list-style: none; }
      .page .category-page .each-sidebar ul.list-cate li a {
        display: block;
        padding: 0.6rem 0;
        color: #414042;
        text-transform: capitalize;
        border-bottom: 1px dashed #a7a6a8;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      .page .category-page .each-sidebar ul.list-cate li:hover a {
        padding-left: 15px;
        color: #b51c5e; }
  .page .product-page .product-info {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    position: relative; }
    .page .product-page .product-info:after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 40%;
      background: #a7a6a8;
      bottom: 0;
      left: 0; }
    .page .product-page .product-info h2.product-name {
      font-size: 2rem;
      margin-bottom: 1.4rem;
      text-transform: uppercase; }
    .page .product-page .product-info div.brand-info {
      margin-bottom: 1.4rem; }
      .page .product-page .product-info div.brand-info p {
        font-size: 1.4rem;
        color: #414042;
        font-weight: 400; }
    .page .product-page .product-info p.price {
      font-size: 3rem;
      line-height: 3.5rem;
      color: #CB1F6A;
      margin-bottom: 1.4rem; }
    .page .product-page .product-info p.description {
      font-size: 1.4rem;
      font-weight: 400; }
  .page .product-page .product-attribute {
    max-width: 400px; }
    .page .product-page .product-attribute .each-attribute {
      margin-bottom: 1.5rem; }
      .page .product-page .product-attribute .each-attribute select, .page .product-page .product-attribute .each-attribute input {
        max-width: 50%;
        font-size: 1.2rem; }
    .page .product-page .product-attribute button {
      font-size: 1.5rem;
      padding: 0.6rem 2rem;
      text-transform: uppercase; }
  .page .relate-product .each-product figure {
    text-align: center; }
    .page .relate-product .each-product figure figcaption p.product-name {
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      line-height: 1.8rem; }
      .page .relate-product .each-product figure figcaption p.product-name a {
        color: #000;
        text-decoration: none; }
    .page .relate-product .each-product figure figcaption p.price {
      font-size: 1.8rem;
      line-height: 2rem;
      color: #CB1F6A;
      margin-bottom: 10px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      text-transform: lowercase; }
      .page .relate-product .each-product figure figcaption p.price.discount {
        text-decoration: line-through;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: #414042; }
    .page .relate-product .each-product figure figcaption button.btn-add-to-cart {
      background: transparent;
      border-width: 2px;
      border-color: #414042;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #414042;
      padding: 0.3rem 1.2rem;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .page .relate-product .each-product figure figcaption button.btn-add-to-cart:hover {
        background: #e13c84;
        border-color: #CB1F6A;
        color: white; }
  .page .cart-page .cart-wrapper table thead tr {
    background: #f5c1d8;
    color: #CB1F6A;
    text-align: center; }
  .page .cart-page .cart-wrapper table tbody td {
    text-align: center;
    vertical-align: middle; }
    .page .cart-page .cart-wrapper table tbody td img {
      max-width: 140px; }
    .page .cart-page .cart-wrapper table tbody td input {
      font-size: 1.4rem; }
  .page .cart-page .control-cart .button-wrapper {
    float: left; }
    .page .cart-page .control-cart .button-wrapper a.btn {
      font-size: 1.2rem;
      text-transform: capitalize; }
  .page .cart-page .control-cart .amount-wrapper {
    float: right; }
    .page .cart-page .control-cart .amount-wrapper p.amount {
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: #414042; }
      .page .cart-page .control-cart .amount-wrapper p.amount span.price {
        font-size: 2.2rem;
        color: #000; }
  .page footer {
    padding: 10rem 0; }
    @media screen and (max-width: 767px) {
      .page footer {
        padding: 3rem 0; } }
    @media screen and (max-width: 767px) {
      .page footer .block-footer {
        margin-bottom: 2rem;
        text-align: center; } }
    .page footer .block-footer h3.title-footer {
      color: #000;
      margin-bottom: 1.2rem;
      font-size: 1.6rem;
      font-weight: 600; }
    .page footer .block-footer ul.list-footer li {
      list-style: none;
      margin-bottom: 0.6rem; }
      .page footer .block-footer ul.list-footer li a {
        display: block;
        font-size: 1.4rem;
        color: #414042;
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .page footer .block-footer ul.list-footer li a:hover {
          color: #eb7eae; }
    @media screen and (max-width: 767px) {
      .page footer .block-subcribe {
        margin-bottom: 2rem;
        text-align: center; } }
    .page footer .block-subcribe h3.title-subcribe {
      font-size: 2.5rem;
      text-transform: uppercase;
      color: #CB1F6A; }
    .page footer .block-subcribe p.sub-title {
      font-size: 1.6rem;
      font-style: italic;
      margin-bottom: 15px; }
    @media screen and (max-width: 767px) {
      .page footer .block-subcribe .input-group {
        justify-content: center; } }
    .page footer .block-subcribe .input-group-prepend {
      width: 100%;
      max-width: 250px; }
      .page footer .block-subcribe .input-group-prepend button.btn-subcribe {
        border-radius: 0 5px 5px 0;
        background: #CB1F6A;
        color: white; }
      .page footer .block-subcribe .input-group-prepend input {
        outline: none; }
        .page footer .block-subcribe .input-group-prepend input:focus {
          outline: none; }

/*# sourceMappingURL=style.css.map */
